{% extends 'layout.twig' %}

{% block body %}

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                <p>
                    <strong>id BDD</strong>: {{ user._id }}<br>
                    <strong>type user</strong>: {{ user.local.type_user }}<br>
                    <strong>type layout</strong>: {{ user.local.layout }}<br>
                    <strong>id</strong>: {{ user.google.id }}<br>
                    <strong>token</strong>: {{ user.google.token }}<br>
                    <strong>email</strong>: {{ user.google.email }}<br>
                    <strong>name</strong>: {{ user.google.name }}
                </p>

            </div>
        </div>


    </div>

{% endblock %}